<% include ./partials/header %>

<h1 class="ui dividing header">This is the show page</h1>
<article id="show-container" class="ui container">
  <div class="ui items">
    <div class="content ui segment">
      <div class="ui image">
        <h4 class="ui header centered"><%=photos.title%></h4>
        <img class="ui massive image" src="<%= photos.image %>" alt="">
      </div>
      <div class="description">
        <p><%=photos.description%></p>
      </div>
      <div class="buttons">
        <button class="ui red basic button show-buttons" type="button">Delete</button>
        <a id="edit-button" class="ui gray basic button show-buttons" href="/photos/<%=photos._id%>/edit">Edit</a>
      </div>
    </div>
    <div class="ui comments">
      <h3 id="comments-header" class="ui dividing header">Comments</h3>
    <div class="comment">
      <a class="avatar">
        <img src="https://images.unsplash.com/photo-1537815749002-de6a533c64db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=845&q=80" alt="">
      </a>
      <div class="content">
        <a class="author" href="#">Jason</a>
        <div class="metadata">
          <span class="date">Today at 5:47PM</span>
        </div>
        <div class="text">
          <p><%=photos.comments%></p>
        </div>
        <div class="actions">
          <a class="reply" href="#">Reply</a>
        </div>
      </div>
    </div>
  </div>
</article>
<% include ./partials/footer %>
